<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-receta-heading" data-cy="RecetaCreateUpdateHeading" jhiTranslate="labDentalistApp.receta.home.createOrEditLabel">
        Create or edit a Receta
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="labDentalistApp.receta.cliente" for="field_cliente">Cliente</label>
          <select class="form-control" id="field_cliente" data-cy="cliente" name="cliente" formControlName="cliente">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="clienteOption.id === editForm.get('cliente')!.value?.id ? editForm.get('cliente')!.value : clienteOption"
              *ngFor="let clienteOption of clientesSharedCollection; trackBy: trackClienteById"
            >
              {{ clienteOption.nombre }} {{ clienteOption.apellido }} {{ clienteOption.dni }}
            </option>
          </select>
          <div
            *ngIf="editForm.controls['cliente'].invalid && (editForm.controls['cliente'].dirty || editForm.controls['cliente'].touched)"
            class="alert alert-danger float-start"
          >
            <fa-icon icon="exclamation-triangle"></fa-icon> No se ha seleccionado ningún cliente.
          </div>
          <div
            *ngIf="editForm.controls['cliente'].invalid && (editForm.controls['cliente'].dirty || editForm.controls['cliente'].touched)"
            class="alert alert-danger"
          >
            <fa-icon icon="exclamation-triangle"></fa-icon> Tienes que añadir un cliente.
          </div>
        </div>

        <div class="row">
          <div class="form-group col-4">
            <label class="form-control-label" jhiTranslate="labDentalistApp.receta.numeroReceta" for="field_numeroReceta"
              >Numero Receta</label
            >
            <input
              type="text"
              class="form-control"
              name="numeroReceta"
              id="field_numeroReceta"
              data-cy="numeroReceta"
              formControlName="numeroReceta"
              [readonly]="true"
              ngModel="{{ random }}"
            />
          </div>

          <div class="form-group col-4">
            <label class="form-control-label" jhiTranslate="labDentalistApp.receta.fechaEmision" for="field_fechaEmision"
              >Fecha Emision</label
            >
            <div class="input-group">
              <div class="input-group-prepend"></div>
              <input
                id="field_fechaEmision"
                data-cy="fechaEmision"
                type="date"
                class="form-control"
                name="fechaEmision"
                formControlName="fechaEmision"
                placeholder="YYYY-MM-DD"
                [readonly]="true"
              />
            </div>
          </div>
          <div class="form-group col-4">
            <label class="form-control-label" jhiTranslate="labDentalistApp.receta.fechaVencimiento" for="field_fechaVencimiento"
              >Fecha de Vencimiento</label
            >
            <div class="d-flex">
              <input
                id="field_fechaVencimiento"
                data-cy="fechaVencimiento"
                type="date"
                class="form-control"
                name="fechaVencimiento"
                formControlName="fechaVencimiento"
                placeholder="YYYY-MM-DD"
                [readonly]="true"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group col-12">
            <label class="form-control-label" jhiTranslate="labDentalistApp.receta.descripcion" for="field_descripcion">Descripcion</label>
            <textarea
              class="form-control"
              name="descripcion"
              id="field_descripcion"
              data-cy="descripcion"
              formControlName="descripcion"
            ></textarea>
          </div>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
