<div class="pl-5 row justify-content-end">
  <div class="col-11">
    <h2 id="page-heading" data-cy="IntervencionHeading">
      <span jhiTranslate="labDentalistApp.intervencion.home.title">Intervenciones</span>

      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="labDentalistApp.intervencion.home.refreshListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-intervencion"
          [routerLink]="['/intervencion/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="labDentalistApp.intervencion.home.createLabel"> Create a new Intervencion </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="intervencions?.length === 0">
      <span jhiTranslate="labDentalistApp.intervencion.home.notFound">No intervencions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="intervencions && intervencions.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
            <th scope="col" jhiSortBy="titulo">
              <span jhiTranslate="labDentalistApp.intervencion.title">Titulo</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="precioUnitario">
              <span jhiTranslate="labDentalistApp.intervencion.precioUnitario">Precio Unitario</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let intervencion of intervencions; trackBy: trackId" data-cy="entityTable">
            <td>{{ intervencion.titulo }}</td>
            <td>{{ intervencion.precioUnitario | currency: 'EUR':'symbol':'1.0-0' }}</td>

            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/intervencion', intervencion.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/intervencion', intervencion.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(intervencion)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="intervencions && intervencions.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
