<div class="row justify-content-end">
  <div class="col-11">
    <h2 id="page-heading" data-cy="ClienteHeading">
      <span jhiTranslate="labDentalistApp.cliente.home.title">Clientes</span>

      <div class="d-flex justify-content-between pt-4 pb-4">
        <div>
          <input type="text" id="filtro" class="mr-5" placeholder="Buscar..." [(ngModel)]="filtro" (ngModelChange)="busquedaClientes()" />
        </div>
        <div>
          <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
            <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
            <span jhiTranslate="labDentalistApp.cliente.home.refreshListLabel">Refresh List</span>
          </button>

          <button
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-cliente"
            [routerLink]="['/cliente/new']"
          >
            <fa-icon icon="plus"></fa-icon>
            <span jhiTranslate="labDentalistApp.cliente.home.createLabel"> Create a new Cliente </span>
          </button>
        </div>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="clientes?.length === 0">
      <span jhiTranslate="labDentalistApp.cliente.home.notFound">No clientes found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="clientes && clientes.length > 0">
      <table class="table table-striped" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
            <th scope="col" jhiSortBy="id">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="nombre">
              <span jhiTranslate="labDentalistApp.cliente.nombre">Nombre</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="apellido">
              <span jhiTranslate="labDentalistApp.cliente.apellido">Apellido</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="dni">
              <span jhiTranslate="labDentalistApp.cliente.dni">Dni</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="sexo">
              <span jhiTranslate="labDentalistApp.cliente.sexo">Sexo</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="email">
              <span jhiTranslate="labDentalistApp.cliente.email">Email</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="telefono">
              <span jhiTranslate="labDentalistApp.cliente.telefono">Telefono</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="direccion">
              <span jhiTranslate="labDentalistApp.cliente.direccion">Direccion</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="observacion">
              <span jhiTranslate="labDentalistApp.cliente.observacion">Observacion</span>
              <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/cliente', cliente.id, 'view']">{{ cliente.id }}</a>
            </td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.dni }}</td>
            <td>{{ cliente.sexo }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.observacion }}</td>
            <td class="text-right">
              <div class="btn-group">
                <button
                  type="submit"
                  [routerLink]="['/cliente', cliente.id, 'view']"
                  class="btn btn-info btn-sm"
                  data-cy="entityDetailsButton"
                >
                  <fa-icon icon="eye"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                </button>

                <button
                  type="submit"
                  [routerLink]="['/cliente', cliente.id, 'edit']"
                  class="btn btn-primary btn-sm"
                  data-cy="entityEditButton"
                >
                  <fa-icon icon="pencil-alt"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                </button>

                <button type="submit" (click)="delete(cliente)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                  <fa-icon icon="times"></fa-icon>
                  <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="clientes && clientes.length > 0">
      <div class="row justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="row justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
    </div>
  </div>
</div>
